<launch>


   <arg name="node_name"             value="velocity_smoother"/>
    <arg name="nodelet_manager_name"  value="nodelet_manager"/>

    <arg name="config_file"           value="$(find scholar_r500_navigation)/config/yocs_velocity_smoother.yaml"/>
    <arg name="raw_cmd_vel_topic"     value="/scholar_r500/cmd_vel"/>
    <arg name="smooth_cmd_vel_topic"  value="/cmd_vel"/>
    <arg name="robot_cmd_vel_topic"   value="/cmd_vel"/>
    <arg name="odom_topic"            value="/odometry/filtered"/> 

  <include file="$(find scholar_r500_navigation)/launch/move_base.launch" >
    
        <arg name="odom_topic" value="/odometry/filtered"/>
        <arg name="cmd_vel_topic" value="/scholar_r500/cmd_vel"/>

  </include>

  <include file="$(find scholar_r500_navigation)/launch/gmapping.launch">
            <arg name="scan_topic" value="/scan"/>
  </include>
   
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find scholar_r500_navigation)/config/gmapping_localization.yaml" />
  </node>

  <node pkg="scholar_r500_navigation" type="dual_laser" name="dual_laser" output="screen"  cwd="node"/>

    <!-- run pointcloud_to_laserscan node -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan"> 
             
        <param name = "target_frame"  value = "base_link" />
        <param name = "transform_tolerance"  value = "0.01" />
        <param name = "min_height"  value = "0.0" />
        <param name = "max_height"  value = "1.0" />
        <param name = "angle_min"  value = "-3.14159" />
        <param name = "angle_max"  value = "3.14159" />
        <param name = "angle_increment"  value = "0.004" />
        <param name = "scan_time"  value = "0.07" />
        <param name = "range_min"  value = "0.1" />
        <param name = "range_max"  value = "8.0" />
        <param name = "use_inf"  value = "true" />
        <param name = "concurrency_level"  value = "1" />

        <remap from="cloud_in" to="rear_laser_to_point"/> 
        <remap from="scan" to="scan"/>
  </node>
    <!--node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/> 

    <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
        <arg name="node_name"             value="$(arg node_name)"/>
        <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
        <arg name="config_file"           value="$(arg config_file)"/>
        <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
        <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
        <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
        <arg name="odom_topic"            value="$(arg odom_topic)"/>
  </include-->

  <!--node name="map_saver" pkg="map_server" type="map_saver" args="$(find scholar_r500_navigation)/map/map.yaml " /-->

</launch>
