<launch>
   
   <arg name="port_name" default="/dev/ttyUSB0" />
   <arg name="port_rate" value="115200" />

   <arg name="scholar_r500_wheel_diameter" default="0.186" />
   <arg name="scholar_r500_wheel_track" default="0.340" />

   <arg name="scholar_r500_linear_speed_calibrate_factor" default="1.00" />
   <arg name="scholar_r500_angular_speed_calibrate_factor" default="1.00"/>

   <arg name = "max_acc_x" default = "1.0" />
   <arg name = "max_acc_w" default = "2.0" />


   <arg name="ns" default="scholar_r500" />

   <node pkg="scholar_r500_base_driver" type="scholar_r500_bringup" name="scholar_r500_bringup" output="screen" required="true" cwd="node" >
      <param name="port_name" value="$(arg port_name)" />      
      <param name="scholar_r500_linear_speed_calibrate_factor" value="$(arg scholar_r500_linear_speed_calibrate_factor)" />      
      <param name="scholar_r500_angular_speed_calibrate_factor" value="$(arg scholar_r500_angular_speed_calibrate_factor)" />   
      <param name="port_rate" value="$(arg port_rate)" />
      <param name="scholar_r500_wheel_diameter" value="$(arg scholar_r500_wheel_diameter)" />
      <param name="scholar_r500_wheel_track" value="$(arg scholar_r500_wheel_track)" />
      <param name="scholar_r500_max_acc_x" value="$(arg max_acc_x)" />
      <param name="scholar_r500_max_acc_w" value="$(arg max_acc_w)" />

      <param name="ns" value="$(arg ns)" />
   
   </node>    

</launch>
